
/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica,Verdana,Arial,sans-serif;  
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  /* User Login */
  .user_login{
    width: fit-content;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: auto;
    margin-bottom: 10px;
  }

  .user_login input{
    color: #00235D;
    text-align: left;
    padding: 5px 10px;
  }

  #userPass, #userEmail {
    background-color: #fff;
    border-color: rgb(212, 202, 202);
    border-radius: 20px;
  }

  .user_login .login_btn{
    background-color: #F15D22;
    border-radius: 20px;
    border-color: #F15D22;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
  }


/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }

  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }

  .menu a{
    color: #00235D;
  }
  
  .menu li:hover {
    background-color: #f15d2252;
    border-radius: 5px;
    transition: 0.3s ease;
    border-radius: 20px;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
  } 
  
  /*HAMBURGER MENU*/
  .hamburger {
    color: #00235D;
    display: none;
    font-size: 32px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:#fff;
    border: #00235D;
    right: 0;
    left: 0;
    margin-top: 20px;
    text-align: center;
    padding: 16px 0;
  }
  
  .menu li:hover {
    display: inline-block;
    background-color:#f15d2252;
    transition: 0.3s ease;
  }
  
  .menu li + li {
    margin-top: 12px;
  }
  
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  
  .hamburger {
    display: block;
  }

}





/* Goals Page */
.goals_div {
  font-size: 28px;
  height: 200px;
  background-image: url('../src/images/industry4.png');
  color: #fff;
  text-align: center;
  margin: 20px;

}


.goals_div h1 {
  padding-top: 50px;
}


#pbis_table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 97.8%;
  color: #00235D;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 40px;
}

#pbis_table td, #pbis_table th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

#pbis_table tr:nth-child(even){background-color: #f2f2f2;}
#pbis_table tr:hover {background-color: #ddd;}

#pbis_table th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F15D22;
  color: white;
}





